name: Build
on: 
  workflow_dispatch:
#   release:	
#     types: [created]
env:
           AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
           AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
           SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

jobs:

  Pre-Release:
    name: Pre-Release
    uses: ./.github/workflows/pre-release.yml
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      
  initializerunner:
    name: Intialize Runner
    needs: Pre-Release
    uses: ./.github/workflows/action.yml
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      
  Build:
       needs: [initializerunner,Pre-Release]
       runs-on: ${{ needs.initializerunner.outputs.activerunner }}
       permissions:
        contents: read
        packages: write
       steps:
          - uses: actions/checkout@v2
          - name: Set up JDK 11
            uses: actions/setup-java@v3
            with:
              java-version: '11'
              distribution: 'temurin'
              server-id: github 
              settings-path: ${{ github.workspace }} 
          - name: Build with Maven
            run: mvn -B package --file pom.xml 

          - name: Publish to GitHub Packages Apache Maven
            run: mvn deploy -Dsnapshot.version=${{needs.Pre-Release.outputs.currentversion}} -s $GITHUB_WORKSPACE/settings.xml
            env:
             GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}    

                           
  Sonar:
    needs: [Build,initializerunner]
    runs-on: ${{ needs.initializerunner.outputs.activerunner }}
    steps: 
      - uses: actions/checkout@v2
      - name: Sonar Analysis
        run: |
          echo Sonar Starts here!!
          mvn -B verify sonar:sonar -Dsonar.projectKey=2115-27_java-maven-sample-war -Dsonar.organization=2115-27 -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN
          
  Fortify:
    needs: [initializerunner,Pre-Release]
    runs-on: ubuntu-latest
    steps:    
      - name: Fortify Analysis
        run: echo Starting Fortify stage!!
        
  Post-Release:
    name: Post-Release
    needs: [initializerunner,Pre-Release,Build,Fortify]
    uses: ./.github/workflows/post-release.yml 
 
      
  Declarative-Post-Actions:
    needs: [Post-Release,Sonar]
    runs-on: ubuntu-latest
    steps:    
      - name: Sent Results
        run: echo Mailing results to recipients!!     
        
  stop_runner:
    needs: [initializerunner,Build,Declarative-Post-Actions,Sonar]
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo ${{ needs.initializerunner.outputs.activerunner }}
          aws ec2 stop-instances --instance-ids ${{ needs.initializerunner.outputs.activerunner }} --region us-west-1
