name: SONAR

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  Sonar:
      runs-on: ubuntu-latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      steps:
        - uses: actions/checkout@v2
          with:
            fetch-depth: 0
        - name: Set up JDK 11
          uses: actions/setup-java@v1
          with:
            java-version: 11
        - name: Cache SonarCloud packages
          uses: actions/cache@v1
          with:
            path: ~/.sonar/cache
            key: ${{ runner.os }}-sonar
            restore-keys: ${{ runner.os }}-sonar
        - name: Sonar Analysis
          run: mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -Dsonar.projectKey=Malavika1113_Demo-Github-Migration -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN
